.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 217, 0);
    height: 92.1vh;
}

.signin-head {
    margin: 50px 0px;
    font-weight: lighter;
    font-size: 36px;
    cursor: default;
    text-shadow: 2px 2px 5px black;
}

.signin-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.form-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
}

.form-label {
    font-size: 20px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px black;
    cursor: default;
}

.form-input {
    height: 35px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(255, 217, 0);
    border-radius: 10px;
    background: rgb(78, 78, 78);
    outline: none;
    color: white;
    font-size: 15px;
}

.form-btns {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    padding: 7px 30px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.4s;
}

.btns:hover {
    background: none;
    border: 2px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
}

.register-btn {
    background-color: rgb(8, 163, 163);;
}

.register-btn:hover {
    border: 3px solid rgb(8, 163, 163);
    color: rgb(8, 163, 163);
}